
.footer {
  background-color: $blanco;
  border-top: 1px solid $verde;
  padding: 5px;
  width: 100%;
  display: flex;
  .footer-content{
    width: 70%;
    margin: 0 auto;
  }
  p{
    font-size: 0.7em;
    color: $verde;
    display: inline-block;
  }
  a {
    color: $verde;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    float: right;
    margin: 10px 0;
    @media(max-width:768px) {
      float: left;
    }
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    color: $rojo;
    text-decoration: underline;
  }
}
