
.footer {
  background-color: #000;
  padding: 5px;
  float: left;
  p{
      font-size: 14px;
  }
  ul {
    width: 100%;
    text-align: center;
    margin:0;
    padding:0;
    list-style-type:none;
    /* Small */
    @media(max-width:767px){
      text-align: left;
      padding-left: 10px;
    }
    li {
      list-style-type: none;
      line-height: 18px;
      padding-top: 10px;
        font-size: 15px;
      a {
        color: #fff;
        text-decoration: none;
      }
      a:visited {
        text-decoration: none
      }
      a:hover {
        text-decoration: underline;
      }
    }
    li:before {
      content: none;
    }
  }
}


.col-4-footer{
  width: 33.33333333%;
  /* Small */
  @media(max-width:767px){
    width: 100%;
  }
}
