.images-web {
  #image1 {
    z-index: 1;
    position: absolute;
    left: -25px;
    margin-top: 40px;
    width: 50%;
  }

  #imageMain {
    z-index: 3;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 70%;
  }

  #image2 {
    z-index: 2;
    position: absolute;
    right: -25px;
    margin-top: 40px;
    width: 50%;
  }

  img{
    box-shadow: 0px 0px 8px #888888;
    display: inline-block;
  }

}

.images-comunicacion {
  margin-top: -135px;
  #image3 {
    z-index: 1;
    position: relative;
    left: -30px;
    width: 50%;
    float: left;
    @media(max-width:640px) {
      left: -2px;
    }
  }

  #image4 {
    z-index: 2;
    position: relative;
    right: -25px;
    margin-top: 140px;
    width: 50%;
    @media(max-width:768px) {
      margin-top: 155px;
    }
    @media(max-width:640px) {
      right: -5px;
      margin-top: 40px;
    }
  }

  img{
    box-shadow: 0px 0px 8px #888888;
    display: inline-block;
  }

}

.images-editorial {
  display: block;
  float: left;
  #image5 {
    z-index: 1;
    position: relative;
    width: 70%;
    float: left;
    @media(max-width:768px) {
      width: 90%;
      margin: 0 10px;
    }
  }

  #image6 {
    z-index: 2;
    position: relative;
    width: 70%;
    margin-top: 20px;
    @media(max-width:768px) {
      width: 90%;
      margin: 0 10px;
    }
  }

  img{
    box-shadow: 0px 0px 8px #888888;
    display: inline-block;
  }
}

.images-profile {
  text-align: center;
  #image7 {
    box-shadow: 0px 0px 8px #888888;
    display: inline-block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    @media(max-width:1024px) {
      width: 100%;
    }
  }
}
