body{
  margin: 0;
  line-height: 24px;
  -webkit-animation: bugfix infinite 1s;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix {
    overflow: auto;
}

.btn {
  text-decoration: none;
  color: $rojo;
  background-color: $blanco;
  border: 1px solid $rojo;
  padding: 17px 50px;
  font-size: 1.1em;
  margin: 20px;
}

.btn:hover{
  color: $blanco;
  background-color: $rojo;
  border: 0;
}

.fleft {
  float: left;
}

.fright {
  margin: 20px;
  float: right;
}
