@import url('https://fonts.googleapis.com/css?family=Droid+Sans:700|Raleway:300,300i,700');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
}

a {
  font-weight: 300;
  font-size: 1em;
}

em {
  font-weight: 300i;
}

strong {
  font-weight: 700;
}

/* Small */
@media(max-width:767px){


}

/* Medium */
@media(min-width:768px) and (max-width:991px){


}
