hr {
  background-color: #000;
  height: 6px;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  display: inline-block;
}

ul li{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
}

.txt-white {
  color: #fff;
}

.noSaltoliniaP{
	display: inline;
}

.title-expo-permanente {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    padding: 7px 0;
    margin: 0;
    text-transform: uppercase;
    text-align: right;
}

/* Small */
@media(max-width:767px){


  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
  }

  .title-expo-permanente {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      padding: 7px 0;
      margin: 0;
      text-transform: uppercase;
      text-align: left;;
  }

}

/* Medium */
@media(min-width:768px) and (max-width:991px){

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

}

/* Large */
@media(min-width:992px){
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    padding: 7px 0;
    margin: 0;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    padding: 7px 0;
    margin: 0;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 5px 0;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }
  h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

}
